"""{{ cookiecutter.description }}."""

from {{ cookiecutter.module_slug }}.store import {{ cookiecutter.backend_name }}{{ cookiecutter.__class_suffix }}

__all__ = ["{{ cookiecutter.backend_name }}{{ cookiecutter.__class_suffix }}"]
